*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem;
  color: white;
}

.container {
  display: grid;
  grid-template-rows: [full-start nav-start] min-content [nav-end header-start] 80vh [header-end summary-start] minmax(
      min-content,
      max-content
    ) [summary-end] repeat(2, [section-start] max-content [section-end]) [skills-start] max-content [skills-end projects-start] max-content [projects-end contact-start] max-content [contact-end footer-start] minmax(
      4rem,
      1fr
    ) [footer-end full-end];
}

input,
textarea {
  border: none;
  border-radius: 0;
  padding: 1rem;
}

[placeholder] {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
}

.heading-3,
.heading-4,
.heading-2 {
  color: #182153;
}

.heading-2 {
  font-size: 4rem;
}

.heading-3 {
  font-size: 2rem;
}

.heading-4 {
  font-size: 1.5rem;
}

.light {
  color: #ffffff;
}

.name {
  font-size: 2.5rem;
  color: #182153;
  letter-spacing: 0.3rem;
}

.bg-green {
  background-color: green;
  display: inline-block;
}

.profession {
  color: #232753;
  letter-spacing: 0.2rem;
}

.role {
  color: #182153;
}

.company {
  color: #182153;
}

p {
  color: #232753;
  font-size: 1.8rem;
}

.heading-skills {
  color: #ffffff;
}

.center {
  text-align: center;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr repeat(4, max-content);
  column-gap: 2rem;
  padding: 1rem 2rem;
  align-items: center;
  grid-row: nav-start / nav-end;
  box-shadow: 0 0 5px #51cbee;
  position: sticky;
  top: 0;
  opacity: 1;
  background-color: #ffffff;
  z-index: 100;
}

nav a {
  text-decoration: none;
}

.header {
  background-image: linear-gradient(
      rgba(35, 39, 83, 0.7),
      rgba(35, 39, 83, 0.7)
    ),
    url("../image/back.jpg");
  background-size: cover;
  background-position: center;
  grid-row: header-start / header-end;
  display: grid;
  justify-content: center;
}

.profile {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 30rem));
  grid-template-rows: 1fr;
  grid-auto-rows: min-content;
  transform: translateY(10%);
  background-color: #ffffff;
}
.profile__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.biodata {
  padding: 3rem;
  display: grid;
}

.social__media {
  background-color: #182153;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 4rem));
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.social__media img {
  display: block;
  width: 3rem;
  height: 3rem;
  fill: white;
}

.summary {
  grid-row: summary-start / summary-end;
  background-color: #f1f1f1;
  padding: 10rem 0 6rem 0;
}
.summary > h3,
.summary > p {
  text-align: center;
}
.summary p {
  width: 70%;
  margin: 0 auto;
}

.experience {
  display: grid;
  grid-template-rows: repeat(2, max-content) minmax(15rem, 1fr);
  justify-items: center;
  padding: 9rem 3rem 9rem 3rem;
}
.experience h2 {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}
.experience__information {
  display: grid;
  grid-template-columns: [left-edge] 1fr [mid-edge] 1fr [right-edge];
}
.experience__data {
  grid-column: left-edge / right-edge;
  display: grid;
  grid-template-columns: [left-edge-data] 1fr [mid-edge-data] 1fr [right-edge-data];
  grid-template-rows: repeat(2, max-content);
  row-gap: 0.6rem;
  column-gap: 2rem;
  justify-items: center;
  margin-top: 4rem;
  align-items: start;
}
.experience__data p {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 70%;
  justify-self: start;
}

.year {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: end;
  margin-right: 8rem;
}

.role {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  margin-right: 8rem;
}

.company {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: start;
}

.education {
  background-color: #f1f1f1;
  grid-row: section-start 2 / section-end 2;
}

.skills {
  background-color: #182153;
  grid-row: skills-start / skills-end;
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr;
  color: #fff;
  justify-items: center;
  padding: 3rem;
}
.skills h2 {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}
.skills__list {
  grid-row: 3 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 6rem;
  row-gap: 4rem;
  column-gap: 4rem;
}
.skills__item {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content 1fr;
  justify-items: center;
  column-gap: 4rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
}
.skills__item img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 50%;
}
.skills__item h3,
.skills__item p {
  color: #fff;
}
.skills__item h3 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.skills__item p {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  align-self: center;
}

.projects {
  grid-row: projects-start / projects-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  padding: 9rem 3rem 9rem 3rem;
}
.projects h2 {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.project__list {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  margin-top: 4rem;
  column-gap: 5rem;
}

.project__data {
  display: grid;
  row-gap: 2rem;
  justify-items: center;
}
.project__data p {
  width: 70%;
  text-align: center;
}

.contact {
  background-color: #f1f1f1;
  grid-row: contact-start / contact-end;
  padding: 4rem;
}
.contact__card {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  column-gap: 3rem;
}

.user__input {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 2rem;
  border: 1px solid #ffffff;
}

#name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#email {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#subject {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

#message {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.btn-submit {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
}

.biodata-card {
  row-gap: 5rem;
  border: 1px solid #ffffff;
}

.footer {
  background-color: #101d2c;
  grid-row: footer-start / footer-end;
  padding: 6rem 2rem 2rem 2rem;
  text-align: center;
}
.footer > * {
  margin-bottom: 2rem;
}

.underline,
.underline-skills {
  background-color: white;
  height: 0.1rem;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.underline {
  filter: brightness(70%);
}

.btn {
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #182153;
  padding: 1rem;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  background-color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
